
body{
    background-color: #C4C4C4;
}

header{
    padding: 20px;
    background-color: #ffffff;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.card{
    background-color: #fff;
    padding: 20px;
}

p.card__title{
    color: #000;
    font-size: 14px;
}

p.card__description{
    color: #282828;
    font-size: 12px;
}

img.card__img-top{
    height: 182px;
    width: 288px;
    margin-bottom: 20px;
}

footer{
    padding: 20px;
    background-color: #ffffff;
}


@media (max-width: 768px) {
    p.card__title{
        font-size: 10px;
    }
    p.card__description{
        font-size: 10px;
        text-overflow: ellipsis;
    }
}

@media (max-width: 320px) {
    p.card__title{
        font-size: 5px;
    }
    p.card__description{
        display: none;
    }
}